@import url('https://fonts.googleapis.com/css?family=Roboto|Passion+One:400,700');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');*/

html {
	font-family: 'Roboto', sans-serif;
}

body {
	/*background-image: url(https://s3.amazonaws.com/perjesi-info/perjesi-stormtrooper-snowblower.gif);*/
	background-image: url(https://s3.amazonaws.com/perjesi-info/night-sky.jpg);
	background-repeat: no-repeat;
}

.container {
	padding: 12px;
	border: 1px solid #888;
	border-radius: 4px;
	background-color: #fff;
	opacity: 0.8;
}

.container:hover, .container:focus {
	opacity: 0.83;
}

.welcome, .welcome:hover, .welcome:focus {
	background-color: unset;
	border: unset;
	color: #fff;
	font-weight: 700;
	font-size: 56px;
	opacity: 1.0;
	text-align: center;
	text-shadow: 2px 2px 0 #000;
}

h1 {
	font-size: 72px;
	font-weight: 900;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin: auto;
	color: #B0B7BC;
	text-align: center;
}

.space {
	margin-top: 12%;
}

.hidden {
	display: none;
}

